.animatable {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 700ms;
  transform: translate3d(0, 20px, 0);
}
.animatable.animated {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#demo p {
  margin: 1em 0 2em;
}

#demo img {
  max-width: 80%;
  display: block;
  margin: 1em auto;
}

#demo img.small {
  width: 30%;
  float: left;
  padding: 0 2%;
}

blockquote {
  border-left: 5px #ddd solid;
  padding-left: 2em;
  margin: 2em;
  font-size: 1.6em;
}
blockquote span {
  font-size: 0.5em;
  color: #999;
  font-style: italic;
}

blockquote.animatable p,
blockquote.animatable cite {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 700ms;
  transform: translate3d(40px, 0, 0);
}


blockquote.animatable.animated p,
blockquote.animatable.animated cite {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
blockquote.animatable.animated cite {
  transition-delay: 450ms;
}
